page-learning-path {

 ion-card {
    position: relative;
    text-align: center;
    cursor:pointer;
  }

.card-background-page{
	ion-card {
    position: relative;
    text-align: center;
  }

  .card-title {
    position: absolute;
    top: 36%;
    font-size: 1em;
    width: 100%;
    font-weight: bold;
    color: #71091f;
  }

  .card-subtitle {
    font-size: 0.8em;
    position: absolute;
    top: 52%;
    width: 100%;
    color: black;
  }
}
}

